<div>
  <h1>
    Filestack angular example app
  </h1>

  <h4>
    To run examples, set correct api key in src/app/app.component.ts
  </h4>
  
  <div class="example">
    <span>Example #1 - open picker directly</span>
    <ng-picker-overlay
      [apikey]="apikey">
    </ng-picker-overlay>
  </div>

  <div class="example">
    <span>Example #2 - open picker by clicking the custom button & handle upload Success</span>
    <ng-picker-overlay
      [apikey]="apikey"
      (uploadSuccess)="onUploadSuccess($event)"
      (uploadError)="onUploadError($event)">
      <button>Open picker</button>
    </ng-picker-overlay>
  </div>

  <div class="example">
    <span>Example #3 - open picker in inline mode</span>
    <button (click)="showInline()">Show inline picker</button>
    <ng-picker-inline *ngIf="isInline"
      [apikey]="apikey"
      [pickerOptions]=pickerOptions
      (uploadSuccess)="onUploadSuccess($event)"
      (uploadError)="onUploadError($event)">
    </ng-picker-inline>
  </div>

  <div class="example">
    <span>Example #4 - open picker in dropPane mode</span>
    <button (click)="showDropPane()">Show dropPane picker</button>
    <ng-picker-drop-pane *ngIf="isDropPane"
      [apikey]="apikey"
      (uploadSuccess)="onUploadSuccess($event)"
      (uploadError)="onUploadError($event)">
    </ng-picker-drop-pane>
  </div>

  <div class="example">
    <span>Example #5 - Generate img with filestack transform pipe</span>
    <img class="example5img" src="{{'5aYkEQJSQCmYShsoCnZN' | filestackTransform: transformOptions}}">
  </div>

  <div class="example">
    <span>Example #6 - Select file and upload using sdk client.upload() (check console for details)</span>
    <div class="Block">
      <input type='file' (change)="fileChanged($event)">
    </div>
    <button (click)="uploadFile()">Upload file</button>
  </div>
</div>
