@use '@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~highlight.js/styles/monokai-sublime.css';

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$blue-palette
  ),
));

html {
  @include mat.tabs-theme($light-theme);
}

.hljs {
  padding: 1em;
}

body {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}

.ng-picker {
  height: 350px;
}

.mat-mdc-card-title, .mat-mdc-card-subtitle {
  padding: 16px 16px 0 16px;
}

.custom-card-padding {
  padding: 16px;
}

.example5img {
  width: 55vh;
}

mat-card-actions.example5-btn {
  padding-top: 20px;
  padding-bottom: 12px;
}
