@import "@angular/material/prebuilt-themes/indigo-pink.css"; 
@import '~highlight.js/styles/monokai-sublime.css';

.hljs {
  padding: 1em;
}

body {
  height: 100%;
  min-height: 100%;
  margin:0;
  padding:0;
}

.ng-picker {
  height: 350px;
}
 